

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 mx-auto"><button  mat-raised-button color="primary" (click)="bookFlight()">Book Flight<i class="material-icons">flight_takeoff</i></button></div>
      <br>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>BuuPass is driven by young entrepreneurs who are passionate about solving real everyday problems by making simple and powerful solutions.</p>
         <p>Their idea was born in response to the 2016 Hult Prize Challenge (www.hultprize.com) a global student competition for social entrepreneurship, which launches students into developing scalable business models in order to solve global challenges.</p>
         <p>The challenge for 2016 was to better connect people to goods, services, and resources. </p>
         <p>After a year long process, the diverse team went on to win the prestigious competition with President Bill Clinton, under their former name Magic Bus Ticketing.</p>
         <p>The BuuPass team is motivated by the idea of transforming inefficient transport systems into a catalyst for growth and impact, in order to connect people to opportunities.</p>
      </div>
    </div>
  </div>
</section>
